html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans), sans-serif;
  background: #ffff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
